In [3]:
import pandas as pd
wikipedia = pd.read_excel('wikipedia_dataset_flat.xlsx')
wikipedia

,Unnamed: 0,date,page,visits
0,0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0
1,1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0
2,2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0
3,3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0
4,4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0
...,...,...,...,...
548995,548995,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146.0
548996,548996,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0
548997,548997,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0
548998,548998,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0
548999,548999,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0

In [3]:
import pandas as pd
wikipedia_dirty = pd.read_excel('wikipedia_dataset_flat.xlsx')
wikipedia_dirty

,Unnamed: 0,date,page,visits
0,0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0
1,1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0
2,2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0
3,3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0
4,4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0
...,...,...,...,...
548995,548995,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146.0
548996,548996,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0
548997,548997,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0
548998,548998,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0
548999,548999,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0

In [4]:
wikipedia_clean = wikipedia_dirty.fillna('unknown')
wikipedia_clean

,Unnamed: 0,date,page,visits
0,0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0
1,1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0
2,2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0
3,3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0
4,4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0
...,...,...,...,...
548995,548995,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146.0
548996,548996,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0
548997,548997,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0
548998,548998,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0
548999,548999,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0

In [5]:
wikipedia_clean = wikipedia_dirty.drop_duplicates()
wikipedia_clean

,Unnamed: 0,date,page,visits
0,0,2016-01-01,.xxx_en.wikipedia.org_all-access_all-agents,7089.0
1,1,2016-01-01,.xxx_en.wikipedia.org_mobile-web_all-agents,6182.0
2,2,2016-01-01,1._Juli_de.wikipedia.org_desktop_all-agents,20.0
3,3,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_all-acces...,5363.0
4,4,2016-01-01,2014_FIFA_World_Cup_en.wikipedia.org_desktop_a...,3186.0
...,...,...,...,...
548995,548995,2016-12-31,Zac_Efron_en.wikipedia.org_all-access_all-agents,13146.0
548996,548996,2016-12-31,Zayn_Malik_en.wikipedia.org_all-access_all-agents,12597.0
548997,548997,2016-12-31,Zendaya_en.wikipedia.org_all-access_all-agents,6217.0
548998,548998,2016-12-31,Zendaya_en.wikipedia.org_mobile-web_all-agents,4650.0
548999,548999,2016-12-31,Zodiac_Killer_en.wikipedia.org_all-access_all-...,6659.0

In [14]:
import pandas as pd

wikipedia = pd.read_excel('wikipedia_dataset_flat.xlsx')


#feature extraction 
def feature_extraction(wikipedia):
    wikipedia['Agents'] == wikipedia('page').apply(lambda x: x.split('_')[-1])
    wikipedia['Access'] == wikipedia('page').apply(lambda x: x.split('_')[-2])
    wikipedia['Temp'] == wikipedia('page').apply(lambda x: x.split('_')[-3])
    wikipedia['Language'] == wikipedia('page').apply(lambda x: x.split('_')[0])
    wikipedia = wikipedia.drop(columns= ['Temp'])
    return(wikipedia)

wikipedia_final = feature_extraction

wikipedia_final